@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  display: grid;
  grid-template-rows: minmax(calc(100vh - 60px), auto) auto;
  grid-template-columns: 100%;
}

main{
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: none;
  margin-top: 80px;
}
