.weather-background-image{
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: bg .8s linear;
  @keyframes bg {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }
}

.loading-screen{
  z-index: 4;
  background-color: $loading-screen-bgc;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  &__error{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
  }
  .wi-day-sunny{
    z-index: 5;
    color: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 150px;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: rotateSun 2s linear infinite;
  }
  @keyframes rotateSun {
    0%, 100% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  } 
}

