.settings{
  position: absolute;
  top: 50px;
  right: 40px;
  background-color: white;
  width: auto;
  height: auto;
  z-index: 3;
  border-radius: 4px;
  padding: 20px;
  &__switch{
    position: relative;
    width: 120px;
    background-color: lightgray;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    margin-bottom: 15px;
    img{
      width: 25px;
      z-index: 3;
    }
  }
  &__active-option{
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    border: solid 2px rgb(151, 151, 151);
    background-color: white;
    transition: ease .3s;
  }
  &__unit{
    z-index: 3;
  }
}